					{% load custom_filter %}
					{% for field in fields %}
						<div class="control-group">
							<label class="control-label" for="input01">
								{{field.display_name}}
								{%if not field.field_option.null %}
									<span class="label label-important">必填</span>
								{% endif %}
							</label>
							<div class="controls">
							
								{% if field.field_option.choices  %}
									<select name="{{field.field_name}}" class="
										{%if not field.field_option.null %}required{% endif %}
									" >
										{% for choice in field.field_option.choices %}
											<option
												{% if model|get_attr:field.field_name == choice %}
													selected
												{% endif %}
											>{{choice}}</option>
										{% endfor %}
									</select>
									
								{% elif 'TextField' in field.field_type  %}	
									<textarea  name="{{field.field_name}}" rows="5" class="
										{%if not field.field_option.null %}required{% endif %}
									input-xlarge " >{{ model|get_attr:field.field_name }}</textarea>
									
								{% elif 'CharField' in field.field_type or 'IntegerField' in field.field_type  %}
									<input value="{{ model|get_attr:field.field_name }}" type="text" name="{{field.field_name}}" class="
										   {%if not field.field_option.null %}required{% endif %}"   
										   placeholder="请输入{{field.display_name}}" >
									
									
								{% elif 'BooleanField' in field.field_type  %}	
									  	<select name="{{field.field_name}}">
												<option
													{% if model|get_attr:field.field_name  %}
														selected
													{% endif %}
												 value="1">是</option>
												<option 
													{% if not model|get_attr:field.field_name  %}
														selected
													{% endif %}
												value="0">否</option>
										</select>
								{% elif 'DateField' in field.field_type  %}	
									<input value="{{ model|get_date_attr:field.field_name}}"  class="{%if not field.field_option.null %}required{% endif %}" name="{{field.field_name}}" class="input-small uneditable-input " onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" type="text" placeholder="选择日期" >
								
								{% elif 'FileField' in field.field_type  %}	
									<input type="file"  name="{{field.field_name}}"  />
									{% if  model|get_attr:field.field_name  %}
										<a target="_blank" onclick="window.open('{{model|get_attr:field.field_name}}')" href="javascript:void(0)">
											{{model|get_attr:field.field_name}}
										</a>
									{% endif %}
									
									<input type="hidden" value="{{model|get_attr:field.field_name}}" name="{{field.field_name}}_path_value" />
								{% endif %}
							</div>
						</div>
					{% endfor %}