					
					
				{% if page.countData > 0 %}
					<div class="pagination">
						  <ul>
						  	{% if page.hasPrePage %}
						  		<li><a href="?gotoPage=1&pageSize={{GLOBAL_LIST_PER_PAGE}}">首页</a></li>
						    	<li><a href="?gotoPage={{ page.prePage }}&pageSize={{GLOBAL_LIST_PER_PAGE}}">上一页</a></li>
						    {% endif %}
						    <li><a>{{ page.gotoPage }} / {{ page.countPage }}</a></li>
						    
						    {% if page.hasNextPage %}
						    	<li><a href="?gotoPage={{ page.nextPage }}&pageSize={{GLOBAL_LIST_PER_PAGE}}">下一页</a></li>
						    	<li><a href="?gotoPage={{page.lastPage}}&pageSize={{GLOBAL_LIST_PER_PAGE}}">末页</a></li>
						    {% endif %}
						    	<li><a href="javascript:void(0);">共{{ page.countData }}条记录</a></li>
						  </ul>
					</div>
				{% endif %}