<!DOCTYPE html>
{% include "include/includeCss.html" %} 
{% include "include/includeJs.html" %}
{% load custom_filter %}

<style>
body {
	margin: 30px;
}
</style>


<div class="container-fluid">
  <div class="row-fluid">
  	<div class="row">
  		<div class="span12">
  			<a class="btn btn-primary" href="/contents/{{app_id}}/{{model_name}}/add" >添加</a>
  		</div>
  	</div>
  	<div class="row">
  		<div class="span12">
  			&nbsp;
  			{% if messages %}
			    {% for message in messages %}
			    <div class="alert alert-info">
  					<strong>{{ message }}</strong>
            	</div>
			    {% endfor %}
			{% endif %}
  		</div>
  	</div>
  	<div class="row">
	    <div class="span12">
	       <table class="table table-striped table-condensed">
				<thead>
					<tr>
						{% for field_display in displays  %}
							<th>{{field_display}}</th>
						{% endfor %}
						<th width="15%"></th>
					</tr>
				</thead>
				<tbody>
					{% for model_data in list_data  %}
					<tr>
						{% for field_display in list_display  %}
							<td>
								{% for field_name in model_data  %}
										{%if field_name in field_display%}
											{% for key,value in model_data.items %} 
												{%if field_name in key%}
													{{value}}
												{% endif %}
											{% endfor %}
										{% endif %}
								{% endfor %}
							</td>
						{% endfor %}
						<td>
							<a href="/contents/{{app_id}}/{{model_name}}/{{ model_data|get_attr:'_id' }}/edit" class="btn btn-info">修改</a>
							<a onclick="javascript:delModel(this);" href="javascript:void(0);" url="/contents/{{app_id}}/{{model_name}}/{{ model_data|get_attr:'_id' }}/del"  class="btn btn-danger" data-toggle="modal">
								删除
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	    </div>
    </div>
    <div class="row">
	    <div class="span12">
	    	{% include "include/includePagination.html" %}
	    </div>
	</div>
    
    
    
  </div>
</div>


<div class="modal" style="display: none" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="myModalLabel">确认删除数据?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button onclick="javascript:doDel();" class="btn btn-primary">删除</button>
  </div>
</div>

<script>
	var delUrl='';
	function delModel(obj){
		$('#myModal').modal({keyboard: false});
		$('#myModal').show();
		delUrl=$(obj).attr("url");
	}
	
	function doDel(){
		window.location=delUrl;
	}
</script>
